<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <title></title>
</head>
<body>

<h1>Html</h1>

<div data-bind-vm="Model">
    <input type="text" data-bind="name"/>
    <span data-bind="name"></span>
</div>

<script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/lib/sizzle/dist/sizzle.js"></script>
<script type="text/javascript" src="/javascripts/2way.js"></script>

<!--<script type="text/javascript">
    var json = {
        "BulkListClientConstants": {
            "datepickerMarch": "March",
            "save": "Save",
            "uploadedAtFilter": "Uploaded at:",
            "statusDelayed": "Delayed",
            "datepickerMonday": "Monday",
            "invalidDate": "Invalid date",
            "datepickerNovember": "November",
            "datepickerFebruary": "February",
            "toTimeSmaller": "To time needs to be larger than from time.",
            "fetchingData": "Fetching data, please wait..",
            "timeUnitMillisecond": "Millisecond",
            "datepickerSeptember": null,
            "timeUnitDay": "Day",
            "timewindowTooComplexToRecreate": "Current delivery time window is too complex to recreate!",
            "statusScheduled": "Scheduled",
            "datepickerWednesday": "Wednesday",
            "unsentMessages": "Unsent messages",
            "datepickerSunday": "Sunday",
            "statusInProgress": "In progress",
            "scheduled": "Scheduled",
            "statusFinished": "Finished",
            "statusFailed": "Failed",
            "timewindowNoSelectedDays": "At least one day needs to be selected.",
            "datepickerDecember": "Aralık",
            "now": "Now",
            "statusPaused": "Paused",
            "saving": "Saving",
            "datepickerMay": "Mayıs",
            "datepickerJanuary": "Ocak",
            "datepickerOctober": "October",
            "invalidTimeFormat": "Geçersiz zaman formatı.",
            "scheduledInPast": "Scheduled date can't be in the past.",
            "scheduledForFilter": "Scheduled for:",
            "timeUnitSecond": "Second",
            "timeUnitMicrosecond": "Microsecond",
            "sheduledInPast": "Scheduled date can't be in the past.",
            "datepickerTuesday": "Tuesday",
            "timewindowTimeDifferenceError": "Difference needs to be more than an hour.",
            "statusCanceled": "İptal edildi",
            "messagesExpired": "Bulk expired, messages were archived and are no longer available",
            "scheduledFor": "Scheduled for: {0}",
            "datepickerJune": "June",
            "datepickerApril": null,
            "restricted": "Restricted",
            "datepickerThursday": "Thursday",
            "datepickerAugust": "August",
            "noRestrictions": "No restrictions",
            "datepickerSaturday": "Saturday",
            "datepickerFriday": "Friday",
            "timeUnitMinute": "Dakika",
            "sentMessages": "Sent messages",
            "datepickerJuly": "July",
            "timeUnitHour": "Hour"
        },
        "BulkListConstants": {
            "to": "To:",
            "progress": "Progress",
            "deliverySpeedShort": "DSL",
            "timeWindowShort": "DTW",
            "save": "Kaydet",
            "no": "No",
            "next": null,
            "exportOptions": "Export options",
            "show": "Göster",
            "cancel": "Cancel",
            "from": "From:",
            "numberOfUnits": "Number of units:",
            "jobName": "Görev ismi",
            "filterByJobStatus": "Filter by job status:",
            "close": "Close",
            "cancelJob": "Görevi iptal et",
            "messagesToExport": "Select messages to export:",
            "filteringoptions": "Filtering options:",
            "validity": "Validity",
            "selectoptions": "Select options:",
            "selectExportFormat": "Select the export file format:",
            "reset": "Reset",
            "deliverySpeed": "İletim hızı",
            "refresh": "Refresh",
            "uploadedAt": "Uploaded at",
            "export": "Export",
            "previous": "Önceki",
            "scheduledFor": "Scheduled for",
            "status": "Status",
            "unitType": "Unit type:",
            "job": "Görev",
            "invalidNumOfUnits": "Invalid number of units",
            "deliveryTimeWindow": "İletim zaman aralığı",
            "cancelJobConfirmation": "Bu görevi iptal etmek istediğinizden emin misiniz?",
            "yes": "Evet",
            "loadingPleaseWait": "Loading data, please wait...",
            "accountName": "Account name",
            "serverError": "Server error happened",
            "deliveryWindowFor": "Delivery window for:",
            "serchByJobName": "Görev ismine göre ara",
            "saving": "Saving",
            "badRequest": "Unfortunately, bad request happened",
            "unauthorized": "Unfortunately, you are not authorized to execute requested action",
            "noBulkJobs": "There are no bulk jobs for selected filter",
            "schedulingOptionsFor": "Scheduling options for:",
            "actions": "Actions",
            "forbidden": "Unfortunately, you are forbidden to execute requested action",
            "setDeliverySpeed": "Set delivery speed limit for:"
        },
        "SmsLogClientConstants": {
            "yes": "Evet",
            "statusFailed": "Failed",
            "statusPending": "Pending",
            "no": "No",
            "statusDelivered": "İletildi",
            "fetchingData": "Fetching data, please wait..",
            "statusSubmitted": "Submitted",
            "someLogsExpired": "Some messages were archived. Showing only messages sent on {0} and after."
        },
        "SmsLogConstants": {
            "to": "To:",
            "pricePerMessageExport": "Mesaj başına fiyat",
            "messageText": "Mesaj metni:",
            "noLogs": "There are no logs for selected filter",
            "smsFlag": "SMS flag:",
            "next": "Next",
            "show": "Show",
            "from": "From:",
            "recipient": "Recipient",
            "filterByJobStatus": "Filter by job status:",
            "currency": "Currency",
            "sender": "Sender",
            "filteringoptions": "Filtering options:",
            "enterExternalMsgId": "Enter message ID",
            "someMessagesWereArchived": "Unfortunately, some of the messages were archived and couldn't be included in this report.",
            "reset": "Reset",
            "smsCount": "SMS count",
            "incompleteReport": "*Incomplete report!",
            "refresh": "Refresh",
            "messageTextExport": "Mesaj metni",
            "enterPhoneNumber": "Enter phone number",
            "toggleDropdown": "Toggle Dropdown",
            "deliveryReport": "Delivery report",
            "export": "Export",
            "ported": "Ported:",
            "previous": "Previous",
            "status": "Durum",
            "recipients": "Recipients",
            "externalMessageId": "Message ID:",
            "back": "Geri",
            "destinationNetwork": "Destination network",
            "pricePerMessage": "Mesaj başına fiyat:",
            "yes": "Yes",
            "clientMetadata": "Client metadata",
            "searchByExternalMsgId": "Search by message ID",
            "searchByPhone": "Telefon numarasına göre ara",
            "sentDate": "Sent date",
            "destinationCountry": "Destination country",
            "serchByJobName": "Search job by name",
            "externalMessageIdExport": "Message ID",
            "additionalInformation": null
        }};
    var text = "";
    $.each(json, function (index, item) {

        (function (i) {

            $.each(json[i], function (index2, item2) {
                text += i + "." + index2 + "=" + item2 + "&#13";
                //console.log(i+"."+index+"="+item);
            })

        }(index));

    })
    //text+="StatusbarConstants."+index+"="+item+"&#13;&#10"
    $("#text").html(text);
</script>-->
</body>
</html>