<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <title></title>
</head>
<body>

<h1>Html</h1>

<div data-bind-vm="Model" id="test">
    <input type="text" data-bind="name"/>
    <span data-bind="name"></span>
    <input type="text" data-bind="surname"/>
    <span data-bind="surname"></span>
    <span data-bind="wholeName"></span>
</div>

<script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/lib/sizzle/dist/sizzle.js"></script>
<script type="text/javascript" src="/javascripts/2way.js"></script>

</body>
</html>